<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Video Converter</title>
        <link rel="stylesheet" href="{{ url_for('convert.static', filename='css/styles.css') }}">


    </head>
    <body>

        <h2>Video Converter</h2>
        <form action="{{ url_for('.index') }}" method="post">

            <p>
                <div class="inline-div form-group">
                    <label for="ffmpeg_folder">Select FFMPEG bin:</label>
                    <input type="text" id="ffmpeg_folder" name="ffmpeg_folder">
                </div>
                <div class="inline-div form-group">
                    <label for="n_threads">Select number of FFMPEGs:</label>
                    <select id="n_threads" name="n_threads"></select>
                </div>
                <div class="inline-div form-group">
                    <label for="delay_sec">Select deley between FFMPEGs in seconds:</label>
                    <input type="number" id="delay_sec" name="delay_sec" value="0"></input>
                </div>
            </p>
            <p>
                <div class="form-group">
                    <label for="file_mask">File mask for select files for conversion:</label>
                    <input type="text" id="file_mask" name="file_mask" placeholder="*.ts" value="*.ts">
                </div>
            </p>
            <p>
                <div class="form-group inline-div">
                    <label for="input_folder">Select local INPUT folder:</label>
                    <input type="text" id="input_folder" name="input_folder">
                </div>
            </p>
            <p>
                <div class="inline-div form-group">
                    <label for="output_folder">Select local OUTPUT folder:</label>
                    <input type="text" id="output_folder" name="output_folder">
                </div>
                <div class="inline-div form-group">
                    <label for="video_codec">Video Codec:</label>
                    <input type="text" id="video_codec" name="video_codec" placeholder="h264" value="h264">
                </div>
                <div class="inline-div form-group">
                    <label for="video_bitrate">Video Bitrate:</label>
                    <input type="text" id="video_bitrate" name="video_bitrate" placeholder="1.5M" value="1.5M">
                </div>
                <div class="inline-div form-group">
                    <label for="output_ext">Extension of output file:</label>
                    <input type="text" id="output_ext" name="output_ext" placeholder="mp4" value="mp4">
                </div>
            </p>
            <p>
                <input type="submit" value="Start Conversion">
            </p>
        </form>

        <div id="logs">
            <!-- Progress logs can be displayed here if needed -->
        </div>

        <p><a href="/">Back to Main Page</a></p>
    </body>
    <script>
        const n_threads = {{ n_threads }};
        const dropdown = document.getElementById('n_threads');

        const inputFolderElem = document.getElementById('input_folder');
        const outputFolderElem = document.getElementById('output_folder');


        for (let i = 1; i <= n_threads; i++) {
            const option = document.createElement('option');
            option.value = i;
            option.innerText = i;
            dropdown.appendChild(option);
        }

        inputFolderElem.addEventListener('input',function(event){
            outputFolderElem.value = inputFolderElem.value
        })


    </script>
</html>
