<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video files explorer</title>
</head>
<body>
    <form method="post">
        <label for="root_folder">Set Root Folder:</label>
        <input type="text" id="root_folder" name="root_folder" placeholder="/path/to/video/files">
        <input type="submit" value="Set Folder">
    </form>
    <hr>

   <h2>Video Files:</h2>

    <div id="videoList">
        <ul>
            {% for name, content in videos.items() recursive %}
            <li>
                {% if content is mapping %}
                <button onclick="toggleFolder(this)">+</button>
                {{ name }}
                <ul class="folder-content" style="display: none;">
                    {{ loop(content|dictsort) }}
                </ul>
                {% else %}
                <a href="{{ url_for('explorer.play_video', video_path=name) }}">{{ name }}</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>

    <script>
        function toggleFolder(buttonElem) {
            const folderContent = buttonElem.parentElement.querySelector('.folder-content');

            if (folderContent.style.display === 'none' || !folderContent.style.display) {
                folderContent.style.display = 'block';
                buttonElem.textContent = '-';
            } else {
                folderContent.style.display = 'none';
                buttonElem.textContent = '+';
            }
        }
    </script>

</body>
</html>