<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video files explorer</title>
</head>
<body>
    <h2>Video Conversion Files Explorer:</h2>
    <form action="{{ url_for('.index') }}" method="post">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Input parameters:</legend>

            <div class="form-group">
                <label for="input_folder">{{ form.input_folder.label }}</label>
                {{ form.input_folder(id="input_folder", class="form-control") }}
            </div>

            <div class="form-group">
                <label for="input_file_mask">{{ form.input_file_mask.label }}</label>
                {{ form.input_file_mask(id="input_file_mask", class="form-control") }}
            </div>
        </fieldset>

        <fieldset>
            <legend>Output parameters:</legend>

            <div class="form-group">
                <label for="output_folder">{{ form.output_folder.label }}</label>
                {{ form.output_folder(id="output_folder", class="form-control") }}
            </div>

            <div class="form-group">
                <label for="output_file_mask">{{ form.output_file_mask.label }}</label>
                {{ form.output_file_mask(id="output_file_mask", class="form-control") }}
            </div>
        </fieldset>
    </form>

    <div id="videoList">
        <ul>
            {% for name, content in videos.items() recursive %}
            <li>
                {% if content is mapping %}
                <button onclick="toggleFolder(this)">+</button>
                {{ name }}
                <ul class="folder-content" style="display: none;">
                    {{ loop(content|dictsort) }}
                </ul>
                {% else %}
                <a href="{{ url_for('explorer.play_video', video_path=name) }}">{{ name }}</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>

    <script>
        function toggleFolder(buttonElem) {
            const folderContent = buttonElem.parentElement.querySelector('.folder-content');

            if (folderContent.style.display === 'none' || !folderContent.style.display) {
                folderContent.style.display = 'block';
                buttonElem.textContent = '-';
            } else {
                folderContent.style.display = 'none';
                buttonElem.textContent = '+';
            }
        }
    </script>

</body>
</html>