<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Video downloader</title>
        <link rel="stylesheet" href="{{ url_for('downloader.static', filename='css/styles.css') }}">


    </head>
    <body>


        <form action="{{ url_for('downloader.index') }}" method="post">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Dropbox downloader</legend>
                <div class="form-group">
                    {{ form.dropbox_folder.label }} {{ form.dropbox_folder(size=32) }}
                </div>
                <div class="form-group">
                    {{ form.access_token.label }} {{ form.access_token(size=32) }}
                </div>
                <div class="form-group">
                    {{ form.input_folder.label }} {{ form.input_folder(size=32) }}
                </div>
                <div class="form-group">
                    {{ form.n_threads.label }} {{ form.n_threads() }}
                </div>
                <div class="form-group">
                    {{ form.delay_sec.label }} {{ form.delay_sec(size=5) }}
                </div>
                <div class="form-group">
                    {{ form.file_mask.label }} {{ form.file_mask(size=32) }}
                </div>
            </fieldset>

            <input type="submit" value="Start download">
        </form>

        <div id="logs">
            <!-- Progress logs can be displayed here if needed -->
        </div>

        <p><a href="/">Back to Main Page</a></p>
    </body>
    <script>
        const n_threads = {{ n_threads }};
        const dropdown = document.getElementById('n_threads');

        for (let i = 1; i <= n_threads; i++) {
            const option = document.createElement('option');
            option.value = i;
            option.innerText = i;
            dropdown.appendChild(option);
        }

    </script>
</html>
